header {
  background-color: var(--white);
}

.panel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.drop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.drop-btn:hover {
  color: var(--primary);
  opacity: 0.6;
}

.drop-btn:focus {
  color: var(--primary);
}

.drop-btn:focus-visible {
  color: var(--primary);
}

.drop-btn:active {
  color: var(--primary) !important;
}

.logout-btn {
  width: fit-content;
  height: fit-content;
  padding: 10px 12px;
  background-color: var(--light);
  color: var(--primary);
  border-radius: 4px;
  border: none;
}

.logout-btn:hover {
  opacity: 0.7;
}

.header .dropdown button {
  color: var(--primary);
}

.header .dropdown button::after {
  display: none;
}

.header .dropdown-menu {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(134, 134, 134, 0.1);
}

.dropdown-menu .dropdown-item.active {
  color: var(--primary);
  background-color: var(--bg-light-gray);
}

.dropdown-menu .dropdown-item {
  font-weight: bold;
}

.dropdown-menu .dropdown-item:hover {
  cursor: pointer;
}

.modal-body .input-group {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.modal-body .input-group.has-checkbox {
  align-items: center;
}

.modal-body .start-end-word-setting {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-body .start-end-word-setting .divider,
.modal-body .setting-group .divider {
  width: 2px;
  height: 24px;
  background-color: var(--bs-gray-200);
  margin: 0px 8px;
}

.modal-body .start-end-words-container {
  display: flex;
  gap: 32px;
  max-height: 345px;
  overflow-y: scroll;
}

.modal-body .start-end-words-container ul {
  width: 100%;
  padding-left: 20px;
}

.modal-body .start-end-word-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 12px 8px 8px 8px;
  border-bottom: 2px solid var(--bg-light-gray);
}

.modal-body .start-end-word-group:hover {
  background-color: var(--bg-light-gray);
}

.modal-body .start-end-word-group .word {
  max-width: 200px;
}

.modal-body .start-end-word-group .setting-group {
  display: flex;
  gap: 12px;
  margin-left: 12px;
}

.modal-body .password-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  margin-bottom: 12px;
}

.modal-body .password-input-group > div {
  width: 120px;
  font-weight: bold;
}

.modal-body .password-input-group > input {
  width: 260px;
  height: 40px;
}

.modal-body .input-group input {
  flex-grow: 1;
  height: 36px;
}

.badge-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.badge-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.badge-container .yellow-badge {
  background-color: var(--bs-warning);
  display: flex;
  align-items: center;
  padding: 8px 6px;
  font-weight: bold;
  border-radius: 4px;
  gap: 4px;
  text-wrap: nowrap;
}

.badge-container .gray-badge {
  background-color: var(--bg-light-gray);
  display: flex;
  align-items: center;
  padding: 8px 6px;
  font-weight: bold;
  border-radius: 4px;
  gap: 4px;
  text-wrap: nowrap;
}
