.result-table {
  background-color: white;
  border: 2px solid var(--bg-light-gray);
  border-radius: 4px;
}

.result-table thead tr th {
  padding: 6px 12px;
  border-bottom-width: 1px;
  text-wrap: nowrap;
  white-space: nowrap;
}

.result-table thead tr th.sort-available:hover {
  cursor: pointer;
}

.result-table thead tr th:hover {
  opacity: 0.65;
}

.result-table thead tr th .table-head-container {
  display: flex;
  justify-content: space-between;
}

.result-table tr th:last-child,
.result-table tr td:last-child {
  text-align: end;
}

.badge-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 4px;
}

.qa-badge {
  display: block;
  width: fit-content;
  background-color: var(--bs-success);
  border-radius: 8px;
  color: white;
  padding: 8px 10px;
  font-weight: bold;
  text-wrap: nowrap;
  white-space: nowrap;
}

.qa-badge-normal {
  background-color: var(--bg-gray);
}

.qa-badge-error {
  background-color: var(--bs-danger);
}

.warning-badge {
  display: block;
  width: fit-content;
  background-color: var(--bs-warning);
  border-radius: 8px;
  color: var(--dark);
  height: fit-content;
  padding: 8px 10px;
  font-weight: bold;
  text-wrap: nowrap;
  white-space: nowrap;
}

.no-data-text {
  color: var(--none-gray);
  border: 2px solid var(--none-gray);
  padding: 4px;
  font-weight: bold;
}

.text-time {
  letter-spacing: 1px;
}

.result-pagination .page-item {
  color: var(--primary) !important;
}

.page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
}

.page-link {
  border: 1px solid var(--bg-light-gray);
}

.page-link,
.page-link:hover {
  color: var(--primary);
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem var(--light-primary);
}

.page-item.disabled .page-link {
  border-color: var(--bg-light-gray);
  background-color: var(--white);
}

.page-item.disabled .page-link.pagination-nav {
  border-color: var(--bg-light-gray);
  opacity: 0.6;
  background-color: var(--bg-light-gray);
}

.result-select {
  padding: 6px 12px;
  border: 2px solid var(--bg-light-gray);
  height: 40px;
  border-radius: 4px;
  color: var(--dark);
}

.page-input {
  text-wrap: nowrap;
}

.page-input input {
  width: 50px;
  height: 40px;
  margin-left: 4px;
}

.page-input input:active {
  box-shadow: none;
  border-color: var(--bg-light-gray);
}

.page-input input:focus-visible {
  outline: none;
}

.conversation {
  height: 80vh;
  padding: 12px 20px;
  overflow-y: auto;
  box-shadow: inset 0 4px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ebf4f4;
}

.conversation .gray-badge {
  font-size: 14px;
  background-color: #e2e6ea;
  padding: 4px 12px;
  border-radius: 100px;
}

.conversation .flex-center,
.conversation .flex-left,
.conversation .flex-right {
  gap: 4px;
}

.conversation .flex-right {
  align-items: end;
}

.conversation .message-area {
  margin: 0 0 12px 0;
}

.conversation .message-area .message-panel {
  display: flex;
  gap: 6px;
}

.conversation .message-area .message-panel .badge-input {
  width: 240px;
}

.conversation .message-area .tool-panel {
  display: flex;
  align-items: end;
}

.conversation .message-area .save-panel {
  display: flex;
  align-items: end;
}

.conversation .message-area .save-panel button {
  font-size: 14px;
  padding: 4px 6px;
}

.conversation .message-area .save-panel .cancel-text {
  color: var(--none-gray);
}

.conversation .message-area .tool-panel button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 8px 0;
}

.conversation .badge {
  max-width: 280px;
  text-wrap: wrap;
  text-align: left;
  font-size: 16px;
  padding: 12px 20px;
  background-color: #6eeaae;
  border-radius: 22px;
  line-height: 24px;
}

.conversation .badge textarea {
  border-radius: 4px;
  border: 1px solid var(--bs-gray-300);
}

.conversation .badge textarea:focus-visible {
  outline: var(--light-green) auto 1px;
}

.conversation .badge .playing {
  text-decoration: underline var(--bs-danger) 4px;
  text-underline-offset: 4px;
}

.conversation .badge .high-light {
  background-color: var(--bs-warning);
  border-radius: 4px;
  padding: 4px 2px;
}

.conversation .flex-reverse .badge {
  background-color: white;
}

.conversation .message-info {
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: #878787;
  margin: 0 8px;
}

.collapse-container {
  height: 80vh;
  overflow-y: auto;
}

.basic-info-container,
.qualify-container {
  border: 2px solid var(--bg-light-gray);
  border-radius: 4px;
}

.basic-info-container .info {
  width: 70%;
  text-wrap: nowrap;
}

.basic-info-container .info-container hr {
  border-top: 2px solid var(--bg-light-gray);
}

.basic-info-container .info-container > .row > div:last-child {
  border-left: 2px solid var(--bg-light-gray);
}

.basic-info-container .quantity {
  padding-left: 16px;
}

.basic-info-container .collapse-title {
  margin-bottom: 8px;
}

.basic-info-container .words-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.basic-info-container .words-container .warning-badge {
  padding: 6px 12px;
}

.basic-info-container .info-container > div:last-child {
  margin-bottom: 16px;
}

.collapse-container .collapse-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-container .collapse-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.qualify-header {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
}

.qualify-header #advancedQualifyBtn,
.qualify-header #customizeQualifyBtn {
  width: 88px;
}

.qualify-header #advancedQualifyBtn img,
.qualify-header #customizeQualifyBtn img {
  width: 20px;
  height: 20px;
}

.qualify-header .buttons-group {
  display: flex;
  gap: 16px;
}

.qualify-header .buttons-group .btn-download {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  background-color: #aeaeae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualify-header .buttons-group button {
  border-radius: 100px;
}

.advanced-collapse-btn {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px 0 8px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--bg-light-gray);
  border-radius: 4px 4px 0 0;
}

.customize-qualify-select {
  width: 240px;
  height: 36px;
  border: var(--gray) 1px solid;
  margin-bottom: 12px;
}

.qualify-container .card {
  padding: 12px;
  margin: 0 8px 12px 8px;
  border: none;
  background-color: var(--card-gray);
  border-radius: 0 0 4px 4px;
}

.qualify-container .more-content-btn {
  display: inline-block;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

#moreContentModal .modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.unusual-badge {
  background-color: var(--bs-danger);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.unusual-badge svg {
  margin-left: 4px;
}

.unusual-container {
  position: relative;
}

.unusual-info-detail {
  padding: 8px 20px 8px 0;
  color: var(--dark);
  position: absolute;
  top: 100%;
  left: 4px;
  min-width: 340px;
  height: auto;
  display: flex;
  background-color: var(--card-gray);
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 var(--none-gray);
}

.unusual-info-detail ul {
  /* width: 33.3%; */
  margin-bottom: 0;
}

.unusual-info-detail ul li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  text-wrap: nowrap;
  white-space: nowrap;
}

.detail-container {
  display: flex;
}

.detail-container ul {
  padding: 0 12px 0 24px;
  margin-bottom: 0;
}

.detail-container ul {
  text-wrap: nowrap;
  white-space: nowrap;
}
