.search-panel {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.search-input-icon {
  background-color: var(--white);
  border: 2px solid var(--bg-light-gray);
  border-right-width: 0;
  border-radius: 4px 0 0 4px;
}

.dropdown-menu .search-input .search-input-icon {
  padding: 2px 4px;
}

.search-input input {
  border-top: 2px solid var(--bg-light-gray);
  border-bottom: 2px solid var(--bg-light-gray);
  border-left: 0;
  border-right: 0;
  height: 40px;
}

.header-search-input {
  min-width: 360px;
  max-width: 560px;
}

.dropdown-menu .search-input input {
  padding: 6px;
  height: 32px;
  border-right: 2px solid var(--bg-light-gray);
}

.search-input input:focus {
  box-shadow: 0 0 0 0.25rem var(--bg-light-gray);
  border-color: var(--bg-light-gray);
}

.search-input button,
.search-input button:hover,
.search-input button:active,
.search-input button:focus {
  border-radius: 0 4px 4px 0;
  background-color: var(--white);
  font-weight: 700;
  border: 2px solid var(--bg-light-gray);
  border-left: none;
}

.search-input button:active {
  color: var(--primary) !important;
  border-color: var(--bg-light-gray) !important;
}

.filter-container {
  display: flex;
  gap: 12px;
}

@media (max-width: 1024px) {
  .filter-container {
    gap: 4px;
  }
}

.search-panel .dropdown button {
  color: #444;
  font-size: 16px;
  font-weight: bold;
}

.search-panel .dropdown .dropdown-menu {
  max-height: 250px;
  overflow-y: scroll;
}

.advanced-search-btn {
  font-weight: bold;
  font-size: 16px;
  background-color: var(--bg-light-gray);
  border-radius: 4px;
  text-wrap: nowrap;
}

.remit-btn {
  background-color: var(--primary);
  color: white;
  border-radius: 200px;
}

.remit-btn:hover,
.remit-btn:focus {
  color: white;
}

.search-result {
  display: flex;
  align-items: baseline;
  text-wrap: nowrap;
  gap: 16px;
}

.search-result-text {
  font-size: 16px;
  font-weight: bold;
}

.search-result-text span {
  color: var(--primary);
}

.search-filter {
  display: flex;
  align-items: baseline;
  text-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
}

.search-filter .btn {
  font-weight: bold;
}

.advanced-modal .input-group input {
  flex-grow: 0;
}

.advanced-modal .advanced-form-group {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}

.advanced-modal .advanced-form-group input,
.advanced-modal .advanced-form-group select {
  width: 250px;
  height: 32px;
  border: 1px solid var(--bs-gray-400);
}

.advanced-form-group .dropdown-toggle {
  border: 1px solid var(--bs-gray-400);
  width: 250px;
  color: black;
  display: flex;
  justify-content: start;
}
.advanced-form-group .dropdown-toggle::after {
  display: block;
  position: absolute;
  right: 12px;
}

.advanced-modal .advanced-form-group .search-input input {
  flex-grow: 1;
  width: auto;
}

.advanced-modal .advanced-form-group .search-input {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  margin-bottom: 4px;
}

.advanced-modal .advanced-form-group .search-input-icon {
  padding: 6px;
}

.advanced-checkbox-group {
  display: flex;
  gap: 12px;
}

.customize-period-modal .advanced-form-group input {
  width: 262px;
}

.advanced-modal .advanced-form-group .advanced-title {
  width: 112px;
  font-weight: bold;
  text-wrap: nowrap;
}

.customize-period {
  display: flex;
  align-items: center;
  gap: 4px;
}

.customize-period .bootstrap-datetimepicker-widget {
  width: 268px;
}

.customize-period .input-group-text {
  background-color: var(--bg-light-gray);
}

.customize-period .input-group {
  width: 180px;
}

.customize-period-title {
  font-size: 16px;
  width: 80px;
  font-weight: bold;
  text-wrap: nowrap;
  margin-left: 8px;
}

.advanced-modal .input-group.date {
  width: 148px;
  height: 32px;
  gap: 0px;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.advanced-modal .input-group.date input {
  height: 32px;
  background-color: white;
  border-right: none;
}

.advanced-modal .input-group.date .input-group-append {
  border-left: none;
}
.advanced-modal .input-group.date .input-group-text {
  height: 32px;
  background-color: white;
}

.advanced-form-group .advanced-customize-length {
  display: flex;
  align-items: center;
  gap: 8px;
}

.advanced-form-group .advanced-customize-length input {
  width: 80px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
  background-color: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: var(--primary);
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table td span {
  height: 32px;
  line-height: 32px;
}

.fa-chevron-left:before {
  content: "<";
}
.fa-chevron-right:before {
  content: ">";
}
.fa-arrow-up:before {
  content: url("../assets/arrow-up.svg");
  height: 24px;
  line-height: 24px;
}
.fa-arrow-down:before {
  content: url("../assets/arrow-down.svg");
  height: 24px;
  line-height: 24px;
}
