<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./header.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header py-1 px-3 d-flex justify-content-between">
            <img src="../assets/logo-sm.svg" alt="logo">
            <div class="panel">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                            class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item" id="wordsSettingBtn">設定敏感詞與關鍵字</li>
                        <li class="dropdown-item" id="customizeWordsSettingBtn">自訂質檢</li>
                        <li class="dropdown-item" id="commissionersBtn">專員代碼姓名</li>
                        <li class="dropdown-item" id="skillMaintainBtn">維護技能</li>
                        <li class="dropdown-item" id="editPasswordBtn">更改密碼</li>
                        <li class="dropdown-item" id="manageAccountsBtn">管理帳號</li>
                    </ul>
                </div>
                <button class="logout-btn p-2">登出</button>
            </div>
        </div>
        <div class="modal fade" id="wordsSettingModal" tabindex="-1" aria-labelledby="wordsSettingModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">設定敏感詞與關鍵字</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <input type="text">
                            <button class="btn btn-primary">新增敏感詞</button>
                            <button class="btn btn-primary">新增關鍵詞</button>
                        </div>
                        <div class="badge-title">
                            敏感詞
                        </div>
                        <div class="badge-container">
                            <div class="yellow-badge">
                                壞掉
                                <img src="../assets/close.svg">
                            </div>
                            <div class="yellow-badge">
                                金管會
                                <img src="../assets/close.svg">
                            </div>
                        </div>
                        <hr>
                        <div class="badge-title">
                            關鍵詞
                        </div>
                        <div class="badge-container">
                            <div class="gray-badge">
                                NCC
                                <img src="../assets/close.svg">
                            </div>
                            <div class="gray-badge">
                                申訴
                                <img src="../assets/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="customizeWordsSettingModal" tabindex="-1"
            aria-labelledby="customizeWordsSettingModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">自訂質檢</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <input type="text">
                            <button class="btn btn-primary">新增敏感詞</button>
                        </div>
                        <div class="badge-container">
                            <div class="yellow-badge">
                                自訂1
                                <img src="../assets/close.svg">
                            </div>
                            <div class="yellow-badge">
                                自訂2
                                <img src="../assets/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="commissionersModal" tabindex="-1" aria-labelledby="commissionersModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">專員代碼姓名</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <div style="flex-grow: 1;">
                                <div>專員姓名</div>
                                <input type="text" style="width: 100%;">
                            </div>
                            <div style="flex-grow: 1;">
                                <div>專員代碼</div>
                                <input type="text" style="width: 100%;">
                            </div>
                            <button class="btn btn-primary">新增專員</button>
                        </div>
                        <div class="badge-container">
                            <div class="gray-badge">
                                member01 2578
                                <button class="btn p-0" id="editCommissioner0">
                                    <img src="../assets//pencil.svg">
                                </button>
                                <img src="../assets/close.svg">
                            </div>
                            <div class="gray-badge">
                                member02 5432
                                <button class="btn p-0" id="editCommissioner1">
                                    <img src="../assets//pencil.svg">
                                </button>
                                <img src="../assets/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editCommissionerModal" tabindex="-1" aria-labelledby="editCommissionerModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">編輯專員代碼姓名</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <div style="flex-grow: 1;">
                                <div>專員姓名</div>
                                <input type="text" style="width: 100%;">
                            </div>
                            <div style="flex-grow: 1;">
                                <div>專員代碼</div>
                                <input type="text" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="skillMaintainModal" tabindex="-1" aria-labelledby="skillMaintainModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">維護技能</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <input type="text">
                            <button class="btn btn-primary">新增</button>
                        </div>
                        <div class="badge-container">
                            <div class="gray-badge">
                                報修
                                <img src="../assets/close.svg">
                            </div>
                            <div class="gray-badge">
                                報修2
                                <img src="../assets/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editPasswordModal" tabindex="-1" aria-labelledby="editPasswordModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">更改密碼</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="password-input-group">
                            <div>舊密碼：</div>
                            <input type="text">
                        </div>
                        <div class="password-input-group">
                            <div>新密碼：</div>
                            <input type="text">
                        </div>
                        <div class="password-input-group">
                            <div>確認新密碼：</div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="manageAccountsModal" tabindex="-1" aria-labelledby="manageAccountsModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">管理帳號</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <button class="btn btn-primary" id="addAccountBtn">新增帳號</button>
                        </div>
                        <hr>
                        <div class="badge-container">
                            <div class="gray-badge">
                                member01
                                <button class="btn p-0" id="editAccount0">
                                    <img src="../assets//pencil.svg">
                                </button>
                                <img src="../assets/close.svg">
                            </div>
                            <div class="gray-badge">
                                member02
                                <button class="btn p-0" id="editAccount1">
                                    <img src="../assets//pencil.svg">
                                </button>
                                <img src="../assets/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">新增帳號</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="password-input-group">
                            <div>帳號：</div>
                            <input type="text">
                        </div>
                        <div class="password-input-group">
                            <div>密碼：</div>
                            <input type="text">
                        </div>
                        <div class="password-input-group">
                            <div>確認密碼：</div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">新增</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editAccountModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">編輯帳號</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="../assets/modal-close.svg">
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="input-group">
                            <div style="flex-grow: 1;">
                                <div>專員姓名</div>
                                <input type="text" style="width: 100%;" value="李曉芬">
                            </div>
                            <div style="flex-grow: 1;">
                                <div>專員代碼</div>
                                <input type="text" style="width: 100%;" value="2578">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>
        $("#wordsSettingBtn").on("click", function () {
            $("#wordsSettingModal").modal("show")
        })

        $("#customizeWordsSettingBtn").on("click", function () {
            $("#customizeWordsSettingModal").modal("show")
        })

        $("#commissionersBtn").on("click", function () {
            $("#commissionersModal").modal("show")
        })

        $("#editCommissioner0").on("click", function () {
            $("#editCommissionerModal").modal("show")
        })

        $("#editCommissioner1").on("click", function () {
            $("#editCommissionerModal").modal("show")
        })

        $("#skillMaintainBtn").on("click", function () {
            $("#skillMaintainModal").modal("show")
        })

        $("#editPasswordBtn").on("click", function () {
            $("#editPasswordModal").modal("show")
        })

        $("#manageAccountsBtn").on("click", function () {
            $("#manageAccountsModal").modal("show")
        })

        $("#addAccountBtn").on("click", function () {
            $("#addAccountModal").modal("show")
        })

        $("#editAccount0").on("click", function () {
            $("#editAccountModal").modal("show")
        })

        $("#editAccount1").on("click", function () {
            $("#editAccountModal").modal("show")
        })
    </script>
</body>

</html>